node_modules
.env
notes.md
gas-report.txt
.openzeppelin
scripts/arbitrum
scripts/sepolia

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
